/* Style for the whole site */
@import url('https://cdn.jsdelivr.net/npm/reset-css@3.0.0/reset.min.css');

html {
    font-size: 16px;
}

body {
    background: linear-gradient(136deg, #06061A 0%, #0E1031 93.14%, #0E1931 100%);
    background-repeat: no-repeat;
}